body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 .Titulo{
  color:blue

 }
 h2{
   color: red
 }
 .btn-secondary {
  color: rgb(0, 0, 0);
  background-color: #28a745;
  border-color: #28a745;
 }

 .SalonesNobles{
   margin-left: 4.6%;
 }
 
 .background{
  background-color: #36453b; 
  overflow: hidden;
  width: 100%;
  height: 100vh;
    background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}


.burbujaElemento{
  background: black;
}

.rounded-pill{
  color: white;
}

.infoAulaCard{
  margin-right: 7%;
  width: 1000px;
  height: 525px;
  background-color: rgba(202, 209, 204, 0.2);
  padding: 2%;
  border-radius: 10px;
}

.elementosAulaIz{
  width: 120%;
}

.elementosAulaDr{
  margin-left: 2%!important;
  width: 120%;
}
.elementoAula{
  width: 100%;
}

.badgeaula{
  background-color: #36453b;
}

.botonEditar{
  margin-top: 50%;
  margin-left: 45%!important;
}

.editarboton{
  background-color: #36453b;
}
